# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/
*.env

# Python virtual environment
*.egg-info/
*.egg

# VSCode settings
.vscode/

# Data and model files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Archive files
*.zip
*.tar.gz
*.tar
*.rar
